@using PokeGotchi.Models

<div id="playground-partner-info">

    <!--Current State-->
    <div id="playground-current-state-container">
        <img id="playground-current-state-sprite" src="@PartnerPokemon.AnimationState" />
        <p id="playground-partner-name">@PartnerPokemon.Name</p>
    </div>

    <!--Stats-->
    <div id="playground-partner-stats-container">
        @foreach (KeyValuePair<string, int> stat in PartnerPokemon.Stats)
        {
            <p>@stat.Key</p>
            <p> @stat.Value</p>
        }
        <p>Mood</p>
        <p>@PartnerPokemon.CurrentMood</p>
    </div>
</div>

@code {
    [Parameter] public Partner PartnerPokemon { get; set; }
}